name: Continuous Integration Pipeline

on:
  push:
    branches: [ main, donath ]
  pull_request:
    branches: [ main, donath ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout code
       uses: actions/checkout@v2

     