name: Continuous Integration Pipeline

on:
  push:
    branches: [ main, arthurvs ]
  pull_request:
    branches: [ main, arthurvs ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout code
       uses: actions/checkout@v2

     - name: Execute remote SSH commands using password
       uses: appleboy/ssh-action@v1
       with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script_path: ../../DockerHandsOn/Exercise-Compose/build.sh